<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('hello') }}">Trading System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'prop_firms.view_prop_firms' else '' }}" href="{{ url_for('prop_firms.view_prop_firms') }}">Prop Firms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'trades.view_trades' else '' }}" href="{{ url_for('trades.view_trades') }}">Trades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.endpoint == 'trade_pairs.index' else '' }}" href="{{ url_for('trade_pairs.index') }}">Trade Pairs</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 