*.log
.pytest_cache
.mypy_cache
last_folder_hash.txt
saved_folder_hash.txt
venv/

# all the _pycache_ folders from all the folders
__pycache__
.pytest_cache
**/__pycache__/
**/__pycache__/**
# all the .pyc files from all the folders
**/*.pyc
SimpleTradingFramework/

*.db